@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.main {
    background-color: #252525;
    padding: 12% 4% 5%;
}

.FrontEnd,
.BackEnd,
.Mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.titulo__frontend,
.titulo__backend,
.titulo__mobile {
    color: #F5F5F5;
    margin-bottom: 3%;
    text-align: center;
    padding: 15px 50px;
    max-width: 15%;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}

.titulo__frontend {
    background-color: #6BD1FF;
}

.titulo__backend {
    background-color: #00C86F;
}

.titulo__mobile {
    background-color: #FFBA05;
}

.cards__container--front,
.cards__container--back,
.cards__container--mobile {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    overflow-x: auto;
    padding-bottom: 100px;
    scroll-behavior: smooth;
}

.cards__container--front::-webkit-scrollbar,
.cards__container--back::-webkit-scrollbar,
.cards__container--mobile::-webkit-scrollbar {
    height: 15px;
}

.cards__container--front::-webkit-scrollbar-thumb {
    background-color: #6BD1FF;
    border-radius: 5px;
}

.cards__container--back::-webkit-scrollbar-thumb {
    background-color: #00C86F;
    border-radius: 5px;
}

.cards__container--mobile::-webkit-scrollbar-thumb {
    background-color: #FFBA05;
    border-radius: 5px;
}

.cards__container::-webkit-scrollbar-track {
    background: transparent;
}

.imagem__card {
    width: 432px;
    height: 260px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.imagem__card--front,
.imagem__card--back,
.imagem__card--mobile {
    width: 432px;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.imagem__card--front {
    border: 4px solid #6BD1FF;
    box-shadow: 2px 2px 15px 5px #6BD1FF;
}

.imagem__card--back {
    border: 4px solid #00C86F;
    box-shadow: 2px 2px 15px 5px #00C86F;
}

.imagem__card--mobile {
    border: 4px solid #FFBA05;
    box-shadow: 2px 2px 15px 5px #FFBA05;
}

.card__frontend,
.card__backend,
.card__mobile {
    flex: 0 0 auto;
    width: 432px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    max-height: 300px;
}

.card__frontend::after,
.card__backend::after,
.card__mobile::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.card__frontend:hover::after,
.card__backend:hover::after,
.card__mobile:hover::after {
    opacity: 1;
}

.card__frontend:hover,
.card__backend:hover,
.card__mobile:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__frontend:hover .imagem__card,
.card__backend:hover .imagem__card,
.card__mobile:hover .imagem__card {
    opacity: 0.3;
    transform: scale(1.1);
}

.imagem__play {
    width: 25px;
    height: 25px;
}

.card__options--front,
.card__options--back,
.card__options--mobile {
    position: absolute;
    top: 265px;
    width: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 5px solid transparent;
    border-radius: 0 0 15px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.card__options--front {
    border-color: #6BD1FF;
}

.card__options--back {
    border-color: #00C86F;
}

.card__options--mobile {
    border-color: #FFBA05;
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    z-index: 2;
}

.card__frontend:hover,
.card__backend:hover,
.card__mobile:hover {
    transform: none;
    box-shadow: none;
}

.card__frontend:hover .card__content,
.card__backend:hover .card__content,
.card__mobile:hover .card__content {
    opacity: 1;
}

.card__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card__description {
    font-size: 0.8rem;
}

.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paragrafo__options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #F5F5F5;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
}

.imagem__fecharform {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50px;
    right: 32.5%;
    cursor: pointer;
}

/* Formulário Flutuante */

.edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-form {
    background-color: #03122F;
    padding: 20px 70px;
    border-radius: 15px;
    border: 5px solid #6BD1FF;
    width: 30%;
    height: 90%;
    text-align: center;
}

.edit-form h2 {
    margin-top: 10%;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 3.7rem;
    color: #2271D1;
}

.edit-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.edit-form select {
    width: 99%;
    padding: 18px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3px solid #2271D1;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: #A5A5A5;
}

.edit-form option {
    background-color: #03122F;
    color: #A5A5A5;
}

.edit-form input {
    width: 95%;
    text-align: left;
    padding: 18px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3px solid #2271D1;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: #A5A5A5;
}

.buttons {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
}

.button__save {
    width: 180px;
    height: 54px;
    border-radius: 10px;
    border: 2px solid #2271D1;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 10px 0 #2271D1;
    color: #2271D1;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

.button__limp {
    width: 180px;
    height: 54px;
    border-radius: 10px;
    border: 2px solid #F5F5F5;
    color: #FFFFFF;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-container {
    background-color: #03122F;
    padding: 20px 70px;
    border-radius: 15px;
    border: 5px solid #6BD1FF;
    width: 30%;
    height: 35%;
    text-align: center;
}

.imagem__fecharvid {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 31.1%;
    right: 31.8%;
    cursor: pointer;
}
